*{
    color: #fff;
    
    
}
#main{
    height: 100%;
    width: 100%;
    background-color: #0c0c0c;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* text-transform: uppercase; */
    height: 60px;
    padding: 0 30px;
}

#nav-part2{
    display: flex;
    align-items: center;
    gap: 50px;
    /* text-transform: uppercase; */
}

h3{
    font-size: 25px;
    font-weight: 400;
    text-transform: uppercase;
}

#main h1{
    font-size: 150px;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 15px;
    width: 80%;
    margin-left: 18%;
    position: relative;
    z-index: 9;
    
    
}

#main h1:nth-child(2){
    margin-top: 300px;
}

#main h1:nth-child(3){
    text-align: center;
}

#main h1:nth-child(4){
    text-align: center;
}

img{
    height: 400px;
    position: absolute;
    top: 23%;
    left: 45%
}

/* #img1{
    rotate: 20deg;
} */
#img2{
    rotate: 6deg;
}
#img3{
    rotate: 13deg;
}

#footer{
    font-size: 25px;
    text-transform: uppercase;
    
    line-height: 5px;
    display: flex;
    
    /* width: 80%;
    margin-left: 18%; */
    /* background-color: red; */
    
    
}

#footer1{
    
    margin-left: 30%;
    
}

#footer1 h3:nth-child(2){
    
    text-align: center;
}